.MapBackgr {
  height: 1040px;
  filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
  background-color: #2a8086;
  margin-top: 0px;
  display: flex;
}
.map-container {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 12.5vw;
  top: 110px;
}

.ChooseYour {
  position: absolute;
  width: 374px;
  height: 28px;
  left: 219px;
  top: 26px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #c5e1e6;
}
.PlusMinus {
  position: absolute;
  width: 78.72px;
  height: 32px;
  right: 5.5vw;
  top: 982px;
}
.Plus {
  position: absolute;
  width: 19.51px;
  height: 19.51px;
  left: 6.5px;
  top: 6.5px;
  background-image: url(img/plus.png);
}
.Minus {
  position: absolute;
  width: 19.51px;
  height: 19.51px;
  left: 53.98px;
  top: 6.5px;
  border-radius: 10px;
  border-color: #c5e1e6;
  border-bottom: 1px;
  background-image: url(img/minus.png);
}
.Minus:hover {
  filter: invert(100%);
  cursor: pointer;
}
.Plus:hover {
  cursor: pointer;
  filter: invert(100%);
}
.Krug {
  position: absolute;
  width: 33px;
  height: 33px;
  left: -5px;
  top: -5px;
  background-image: url(img/krug2.png);
}

/*-----------zalupa-------------------*/
/***************************************************************************/

.orel {
  position: absolute;
  margin-left: 395px;
  margin-top: 530px;
}
.aligator {
  position: absolute;
  margin-left: 550px;
  margin-top: 600px;
}
.gorilla {
  position: absolute;
  margin-left: 915px;
  margin-top: 700px;
}
.panda {
  position: absolute;
  margin-left: 1260px;
  margin-top: 560px;
}
.mskgr:hover .vector2 {
  visibility: visible;
  transform: rotate(3600deg);
  -webkit-transform: rotate(360deg);
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}

.vector2 {
  /* Vector */
  position: absolute;
  width: 118px;
  height: 115.37px;

  left: -26px;
  top: -20px;

  background: url(img/ramka.png);
  background-repeat: no-repeat, no-repeat;

  filter: drop-shadow(0px 4px 10px#c5e1e5);
  visibility: hidden;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}

.mskgr2:hover .vector2 {
  visibility: visible;
  transform: rotate(3600deg);
  -webkit-transform: rotate(360deg);
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}
.mskgr {
  position: absolute;
  width: 76px;
  height: 73.37px;
  left: 15px;
  top: 54px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #79cae2c9;
  color: #0d444d;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  bottom: 120%;
  left: -100%;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #79cae2c9 transparent transparent transparent;
}
@media screen and (max-width: 1690px) {
  .map-container {
    left: 7vw;
  }
  .ChooseYour {
    left: 3.3vw;
    top: 50px;
  }
  .orel,
  .panda,
  .aligator,
  .gorilla {
    left: -100px;
  }
}
@media screen and (max-width: 1558px) {
  .MapBackgr {
    height: 880px;
  }
  .map-container {
    width: 1050px;
    height: 670px;
    top: 135px;
  }
  .orel,
  .panda,
  .aligator,
  .gorilla {
    top: -80px;
    left: -250px;
  }
  .gorilla {
    top: -70px;
    left: -335px;
  }
  .panda {
    top: -40px;
    left: -440px;
  }
  .PlusMinus {
    top: 825px;
    right: 3.2vw;
  }
}
@media screen and (max-width: 1150px) {
  .MapBackgr {
    height: 780px;
  }
  .map-container {
    width: 900px;
    height: 550px;
    top: 135px;
  }
  .orel,
  .panda,
  .aligator,
  .gorilla {
    top: -150px;
    left: -250px;
  }
  .gorilla {
    top: -160px;
    left: -400px;
  }
  .panda {
    top: -100px;
    left: -560px;
  }
  .PlusMinus {
    top: 725px;
    right: 3.2vw;
  }
}
@media screen and (max-width: 974px) {
  .map-container {
    left: 0.4vw;
  }
  .orel {
    left: -300px;
  }
  .aligator {
    left: -350px;
  }
  .panda {
    left: -650px;
  }
  .gorilla {
    left: -470px;
  }
}
@media screen and (max-width: 910px) {
  .map-container {
    width: 850px;
  }
}
@media screen and (max-width: 850px) {
  .MapBackgr {
    height: 680px;
  }
  .map-container {
    left: 3.5vw;
    width: 562px;
    height: 360px;
    top: 205px;
  }
  .vector2 {
    background-size: 70%;
    background-position: center;
  }
  .orel {
    top: -230px;
    left: -350px;
  }
  .aligator {
    top: -270px;
    left: -420px;
  }
  .gorilla {
    top: -340px;
    left: -640px;
  }
  .panda {
    top: -250px;
    left: -860px;
  }
  .PlusMinus {
    top: 570px;
    right: 5.8vw;
  }
  .ChooseYour {
    top: 105px;
    font-size: 18px;
  }
}
@media screen and (max-width: 590px) {
  .MapBackgr {
    height: 600px;
    background-position: left;
    background-size: 600px;
    background-repeat: no-repeat;
    background-image: url(./assets/MapGroup1920.png);
  }
  .map-container {
    display: none;
  }
  .PlusMinus {
    top: 482px;
    right: 7vw;
  }
  .ChooseYour {
    display: none;
  }
  .orel {
    top: -320px;

    left: -370px;
  }
  .panda {
    top: -340px;
  }
  .gorilla {
    top: -420px;
  }
  .aligator {
    top: -350px;

    left: -430px;
  }
}
@media screen and (max-width: 540px) {
  .panda {
    display: none;
  }
}

@media screen and (max-width: 418px) {
  .gorilla {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .orel {
    top: -320px;

    left: -370px;
  }
  .aligator {
    top: -350px;

    left: -430px;
  }
}
